@model List<RookieShop.Storefront.Models.Report.BestSellerProductViewModel>

@if (Model.Count == 0)
{
    <div class="text-center text-red-500">
        <strong>Warning!</strong> There are no products to show.
    </div>
}
else
{
    @foreach (var item in Model)
    {
        <div class="group relative">
            <div class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-md bg-gray-200 lg:aspect-none group-hover:opacity-75">
                <img loading="lazy" 
                     src="@(item.ImageUrl ?? "~/imgs/product/default-preview-image.png")" 
                     alt="@item.ProductName" 
                     class="h-full w-full" 
                     asp-append-version="true" />
            </div>
            <div class="mt-4 flex justify-between">
                <div>
                    <h3 class="text-sm text-gray-700">
                        <span class="font-medium hover:text-gray-800">
                            <span aria-hidden="true" class="absolute inset-0"></span>
                            @item.ProductName
                        </span>
                    </h3>
                </div>
                <a asp-area="Product"
                   asp-controller="Product"
                   asp-action="Detail"
                   asp-route-id="@item.ProductId"
                   class="text-sm font-medium text-gray-900 text-red-900">
                    Purchase
                </a>
            </div>
        </div>
    }
}