@{
    ViewData["Title"] = "About Us";
}

<div class="2xl:mx-auto 2xl:container flex justify-center items-center md:py-12 py-9 xl:px-20 sm:px-6 px-4">
    <div class="xl:w-auto md:flex hidden flex-col space-y-6 xl:space-y-0 xl:flex-row justify-center items-center">
        <div class="flex justify-between w-full items-center space-x-6 xl:space-x-8">
            <div class="flex justify-center items-center">
                <img loading="lazy" src="/imgs/about/heather-ford.png" alt="shoes and clothes"/>
            </div>
            <div class="flex flex-col justify-between xl:mt-0 items-center space-y-6 xl:space-y-8">
                <div class="flex flex-col xl:flex-row justify-between h-full xl:justify-center items-center space-y-8 xl:space-y-0 xl:space-x-8">
                    <div class="md:w-72 mx-1 md:h-64 lg:mt-4 xl:mt-0 flex flex-col justify-center items-center text-center">
                        <p class="text-3xl xl:text-4xl font-semibold leading-7 xl:leading-9 text-center text-gray-800">Our Instagram</p>
                        <p class="text-base leading-6 mt-3 text-center text-gray-600">Follow us on instagram and tag us to get featured on our timeline</p>
                        <a href="https://github.com/foxminchan" class="focus:outline-none mt-4 focus:underline text-base leading-4 hover:underline text-center text-gray-800">@@RookieShop</a>
                    </div>
                    <div>
                        <img class="hidden xl:block" src="/imgs/about/nordwood-themes.png" alt="jewellery"/>
                        <img class="xl:hidden" src="/imgs/about/nordwood-themes-unsplash.png" alt="shoes and clothes"/>
                    </div>
                </div>
                <div class="hidden xl:flex flex-row justify-center items-center space-x-6 xl:space-x-8">
                    <div>
                        <img loading="lazy" src="/imgs/about/camilla-carvalho.png" alt="jewellery"/>
                    </div>
                    <div>
                        <img loading="lazy" src="/imgs/about/jonathan-francisca.png" alt="watch"/>
                    </div>
                </div>
            </div>
        </div>
        <div class="xl:hidden flex flex-row justify-between space-x-6 xl:space-x-8">
            <div>
                <img loading="lazy" src="/imgs/about/camilla-carvalho.png" alt="jewellery"/>
            </div>
            <div>
                <img loading="lazy" src="/imgs/about/jonathan-francisca.png" alt="watch"/>
            </div>
        </div>
    </div>

    <div class="md:hidden flex justify-center items-center flex-col">
        <div class="w-80 flex flex-col justify-center items-center text-center">
            <p class="text-3xl lg:text-4xl font-semibold leading-7 lg:leading-9 text-center text-gray-800">Our Instagram</p>
            <p class="text-base leading-6 mt-3 text-center text-gray-600">Follow us on instagram and tag us to get featured on our timeline</p>
            <a href="https://github.com/foxminchan" class="focus:outline-none mt-4 focus:underline text-base leading-4 hover:underline text-center text-gray-800">@@RookieShop</a>
        </div>
        <div class="mt-8 flex flex-col justify-center space-y-4">
            <img loading="lazy" src="/imgs/about/heather-ford.png" alt="shoes and clothes"/>
            <img loading="lazy" src="/imgs/about/nordwood-themes-unsplash.png" alt="shoes and clothes"/>
            <img loading="lazy" src="/imgs/about/camilla-carvalho.png" alt="jewellery"/>
            <img loading="lazy" src="/imgs/about/jonathan-francisca.png" alt="watch"/>
        </div>
    </div>
</div>