@using RookieShop.Storefront.Components.Chatbot
<!DOCTYPE html>
<html lang="en">
<head>
    <base href="~/"/>
    <component type="typeof(Microsoft.AspNetCore.Components.Web.HeadOutlet)"
               render-mode="ServerPrerendered"/>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <partial name="Partials/Layout/_AppleIconPartial"/>
    <partial name="Partials/Layout/_DefaultMetaTagsPartital"/>
    @await RenderSectionAsync("MetaTags", false)
    <title>@ViewData["Title"]</title>
    <link rel="author" href="https://github.com/foxminchan"/>
    <partial name="Partials/Layout/_StyleSheets"/>
</head>
<body class="flex flex-col min-h-screen pt-24">

<partial name="Partials/Layout/_Header"/>

<div class="flex-1">
    <partial name="_CookieConsentPartial"/>
    <main role="main">
        @RenderBody()
    </main>
</div>

<component type="typeof(ShowChatbotButton)" render-mode="ServerPrerendered"/>

<partial name="Partials/Layout/_Scripts"/>

@await RenderSectionAsync("Scripts", false)
<script src="~/_framework/blazor.server.js"></script>
</body>
</html>