@using System.Globalization
@model RookieShop.Storefront.Areas.Basket.Models.BasketViewModel

@{
    ViewBag.Title = "My Basket";
    Layout = "~/Views/Shared/_layout.cshtml";
}

@if (Model.BasketDetails.Any())
{
    <section class="relative z-10 after:contents-[''] after:absolute after:z-0 after:h-full xl:after:w-1/3 after:top-0 after:right-0 after:bg-gray-50">
        <div class="w-full max-w-7xl px-4 md:px-5 lg-6 mx-auto relative z-10">
            <div class="grid grid-cols-12">
                <div class="col-span-12 xl:col-span-8 lg:pr-8 pt-14 pb-8 lg:py-24 w-full max-xl:max-w-3xl max-xl:mx-auto">
                    <div class="flex items-center justify-between pb-8 border-b border-gray-300">
                        <h2 class="font-manrope font-bold text-3xl leading-10 text-black">Shopping Cart</h2>
                        <h2 class="font-manrope font-bold text-xl leading-8 text-gray-600">
                            @(Model.BasketDetails.Count > 1 ? $"{Model.BasketDetails.Count} Items" : $"{Model.BasketDetails.Count} Item")
                        </h2>
                    </div>
                    <div class="grid grid-cols-12 mt-8 max-md:hidden pb-6 border-b border-gray-200">
                        <div class="col-span-12 md:col-span-7">
                            <p class="font-normal text-lg leading-8 text-gray-400">Product Details</p>
                        </div>
                        <div class="col-span-12 md:col-span-5">
                            <div class="grid grid-cols-5">
                                <div class="col-span-3">
                                    <p class="font-normal text-lg leading-8 text-gray-400 text-center">Quantity</p>
                                </div>
                                <div class="col-span-2">
                                    <p class="font-normal text-lg leading-8 text-gray-400 text-center">Total</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    @foreach (var item in Model.BasketDetails)
                    {
                        @await Component.InvokeAsync("CartItem", new { id = item.Id, quantity = item.Quantity })
                    }
                </div>
                <div class=" col-span-12 xl:col-span-4 bg-gray-50 w-full max-xl:px-6 max-w-3xl xl:max-w-lg mx-auto lg:pl-8 py-24">
                    <h2 class="font-manrope font-bold text-3xl leading-10 text-black pb-8 border-b border-gray-300">
                        Order Summary
                    </h2>
                    <div class="mt-8">
                        <div class="flex items-center justify-between pb-6">
                            <p class="font-normal text-lg leading-8 text-black">
                                @(Model.BasketDetails.Count > 1 ? $"{Model.BasketDetails.Count} Items" : $"{Model.BasketDetails.Count} Item")
                            </p>
                            <p class="font-medium text-lg leading-8 text-black">
                                @Model.TotalPrice.ToString("C", CultureInfo.CreateSpecificCulture("en-US"))
                            </p>
                        </div>
                        @await Component.InvokeAsync("CheckOut")
                    </div>
                </div>
            </div>
        </div>
    </section>
}
else
{
    <partial name="_EmptyCartPartial"/>
}