@model int

<li>
    <a>
        <img loading="lazy" src="~/imgs/home/account.svg" class="h-6 w-6" alt="Account"/>
    </a>
</li>
<li>
    <a class="flex items-center space-x-2 justify-center py-4 pr-2">
        <div class="relative">
            @if (Model > 0)
            {
                <div class="t-0 absolute left-4">
                    <p class="flex h-2 w-2 items-center justify-center rounded-full bg-red-500 p-2 text-xs text-white">@Model</p>
                </div>
            }
            <img loading="lazy" class="mt-2 h-6 w-6" src="~/imgs/home/cart.svg" alt="Cart"/>
        </div>
    </a>
</li>