@model Ardalis.Result.PagedInfo

<div class="flex items-center gap-4 justify-center">
    <button class="flex items-center gap-2 px-6 py-3 font-sans text-xs font-bold text-center text-gray-900 uppercase align-middle transition-all rounded-full select-none hover:bg-gray-900/10 active:bg-gray-900/20 disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none" type="button">
        <img loading="lazy" class="w-4 h-4" src="/imgs/filter/previous.svg" alt="Previous"/>
        Previous
    </button>
    @for (var pageNumber = 1; pageNumber <= Model.TotalPages; pageNumber++)
    {
        <button class="relative h-10 max-h-[40px] w-10 max-w-[40px] select-none rounded-full text-center align-middle font-sans text-xs font-medium uppercase transition-all @(pageNumber == Model.PageNumber ? "hover:shadow-lg hover:shadow-gray-900/20 focus:opacity-[0.85] focus:shadow-none active:opacity-[0.85] active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none bg-gray-900 text-white shadow-md shadow-gray-900/10" : "hover:bg-gray-900/10 active:bg-gray-900/20 disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none text-gray-900")" type="button">
            <span class="absolute transform -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2">
                @pageNumber
            </span>
        </button>
    }
    <button class="flex items-center gap-2 px-6 py-3 font-sans text-xs font-bold text-center text-gray-900 uppercase align-middle transition-all rounded-full select-none hover:bg-gray-900/10 active:bg-gray-900/20 disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none" type="button">
        Next
        <img loading="lazy" class="w-4 h-4" src="/imgs/filter/next.svg" alt="Next"/>
    </button>
</div>