@model RookieShop.Storefront.Models.Products.ProductViewModel

@{
    ViewBag.Title = @Model.Name ?? "Product Detail";
    Layout = "_Layout";
}

<section class="py-8 bg-white md:py-16 antialiased">
    <div class="max-w-screen-xl px-4 mx-auto 2xl:px-0">
        <partial name="Components/ProductDetail/ProductSection" model="Model"/>
    </div>
</section>
<section class="py-24 relative">
    <div class="w-full max-w-7xl px-4 md:px-5 lg:px-6 mx-auto">
@*         <partial name="Components/ProductDetail/RatingSection" model="Model"/> *@
    </div>
</section>