<div class="bg-white py-24 sm:py-32">
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
        <div class="mx-auto max-w-2xl lg:text-center">
            <h2 class="text-base font-semibold leading-7 text-indigo-600">Benefits of shopping with us</h2>
            <p class="mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">Why choose Rookie Shop?</p>
            <p class="mt-6 text-lg leading-8 text-gray-600">
                Rookie Shop offers a wide range of products that can help you get the most out of your daily life. Our products are designed to be easy to use and to fit any lifestyle. Take a look at our collection and find the perfect fit for you.
            </p>
        </div>
        <div class="mx-auto mt-16 max-w-2xl sm:mt-20 lg:mt-24 lg:max-w-4xl">
            <dl class="grid max-w-xl grid-cols-1 gap-x-8 gap-y-10 lg:max-w-none lg:grid-cols-2 lg:gap-y-16">
                <div class="relative pl-16">
                    <dt class="text-base font-semibold leading-7 text-gray-900">
                        <div class="absolute left-0 top-0 flex h-10 w-10 items-center justify-center rounded-lg bg-indigo-600">
                            <img loading="lazy" src="/imgs/home/secure-payments.svg" alt="Secure payments" />
                        </div>
                        Secure payments
                    </dt>
                    <dd class="mt-2 text-base leading-7 text-gray-600">
                        With cash and Stripe, you can be sure that your payments are secure. We use the latest encryption technology to protect your data.
                    </dd>
                </div>
                <div class="relative pl-16">
                    <dt class="text-base font-semibold leading-7 text-gray-900">
                        <div class="absolute left-0 top-0 flex h-10 w-10 items-center justify-center rounded-lg bg-indigo-600">
                            <img loading="lazy" src="/imgs/home/shipping-return.svg" alt="Shipping & returns" />
                        </div>
                        Shipping & returns
                    </dt>
                    <dd class="mt-2 text-base leading-7 text-gray-600">
                        We offer free shipping on all orders. If you're not satisfied with your purchase, you can return it within 30 days for a full refund.
                    </dd>
                </div>
                <div class="relative pl-16">
                    <dt class="text-base font-semibold leading-7 text-gray-900">
                        <div class="absolute left-0 top-0 flex h-10 w-10 items-center justify-center rounded-lg bg-indigo-600">
                            <img loading="lazy" src="/imgs/home/friendly-support.svg" alt="Friendly support" />
                        </div>
                        Friendly support
                    </dt>
                    <dd class="mt-2 text-base leading-7 text-gray-600">
                        Contact us if you have any questions or need help with your order. We're here to help you 24/7.
                    </dd>
                </div>
                <div class="relative pl-16">
                    <dt class="text-base font-semibold leading-7 text-gray-900">
                        <div class="absolute left-0 top-0 flex h-10 w-10 items-center justify-center rounded-lg bg-indigo-600">
                            <img loading="lazy" src="/imgs/home/quality-product.svg" alt="Quality products" />
                        </div>
                        Quality products
                    </dt>
                    <dd class="mt-2 text-base leading-7 text-gray-600">
                        Our products are made with high-quality materials. We stand behind the quality of our products.
                    </dd>
                </div>
            </dl>
        </div>
    </div>
</div>