@{
    ViewData["Title"] = "Home Page";
}

<partial name="Partials/Home/_HeroPartial"/>
<hr/>
<div class="bg-white">
    <div class="mx-auto max-w-2xl px-4 py-16 sm:px-6 lg:max-w-7xl lg:px-8">
        <h1 class="text-2xl font-bold tracking-tight text-gray-900 text-center">Feature Product</h1>
        <div class="mt-6 grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-2 lg:grid-cols-4 xl:gap-x-8">
            @await Component.InvokeAsync("FeatureProducts")
        </div>
    </div>
</div>
<hr />
<partial name="Partials/Home/_StatsPartial"/>
<hr/>
<partial name="Partials/Home/_BenefitPartial"/>
<partial name="Partials/Home/_NewsLetterPartial"/>